# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\negar\PycharmProjects\HTML\exercise\Advance CSS Course\advanced-css-course-master\advanced-css-course-master\Trillo\starter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
